<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="{% static 'logo/unnamed.ico' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <title>AKANGROUP</title>
</head>

{% include "messages.html" %}

<body class="activ">
    <!-- <div id="load_anim" class="activ">
        <div class="row">
            <p>Y</p>
            <p>U</p>
            <p>K</p>
            <p>L</p>
            <p>A</p>
            <p>n</p>
            <p>m</p>
            <p>o</p>
            <p>q</p>
            <p>d</p>
            <p>a</p>
            <p>. . .</p>
        </div>
    </div> -->

    <!-- header -->
    <section id="header">
        <div class="container">
            <div class="row">
                <div class="bars">
                    <button id="bars">
                        <div class="bars_ico"><i class="fas fa-bars"></i></div>
                        <div class="bars_ico2"><i class="fas fa-times"></i></div>
                    </button>
                </div>
                <div class="logo">
                    <a href="index.html"><img src="{% static 'logo/akan.png' %}" alt="logo"></a>
                </div>
                <div id="nav_bars" class="nav">
                    <ul class="nav_bar">
                        <li><a class="active" href="#uy">Uy</a></li>
                        <li><a href="#haqimizda">biz haqimizda</a></li>
                        <li><a href="#loyihalar">loyihalar</a></li>
                        <li><a href="#xizmatlar">xizmatlar</a></li>
                        <li><a href="#aloqa">aloqa</a></li>
                    </ul>
                </div>
                <div class="user">
                    <a href="{% url 'accounts:RGU' %}">
                        <i class="fas fa-user"></i>KIRISH
                    </a>
                </div>

            </div>
        </div>
    </section>

    <!-- uy -->
    <section id="uy">
        <div class="container">
            <div class="row">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="box">
                                <div>
                                    <h1>Assalomu aleykum</h1>
                                    <p>Siz o'z shaxsiy biznesingizni rivojlantirmoqchimisiz......</p>
                                    <a href="#aloqa">Biz bilan boshlang</a>
                                </div>

                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="box">
                                <div>
                                    <h1><img src="{% static 'logo/akan.png' %}" alt="logo"> ga hush kelibsiz</h1>
                                    <p>Siz o'z shaxsiy biznesingizga sayt buyurtma bermoqchimisiz!!!!!</p>
                                    <a href="#aloqa">Biz bilan boshlang</a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination"></div>
                </div>

                <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
                </script>
            </div>
        </div>
    </section>

    <!-- biz haqimizda -->
    <section id="haqimizda">
        <div class="container1">
            <div class="container">
                <div class="row">
                    <div class="matn scchap">
                        <h1>biz haqimizda</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum quibusdam molestias consequatur blanditiis consectetur similique rem laudantium repudiandae odio tempora. Voluptate exercitationem dicta maiores illum nisi unde in eos ad consequuntur, animi quidem non, rem officiis repudiandae ut enim quas recusandae labore voluptatem cumque nostrum neque iure nesciunt. Laudantium dolorem quam dolor. Dignissimos architecto corrupti molestias laudantium voluptatum? Ab aspernatur corporis quam atque voluptates iste repellendus similique ipsum nobis natus aperiam veniam illo ipsa dolorem odit, incidunt voluptatum ut neque facilis, rem explicabo error ex dolor? Eum aperiam consectetur eos quam, repellendus laudantium nihil optio quis sequi quod minus dolorum?</p>
                    </div>
                    <div class="img-container scong">
                        <img src="{% static 'img/pexels-yugantar-sambhangphe-4034204.jpg' %}" alt="img">
                    </div>
                </div>
            </div>
        </div>
        <div class="container2">
            <div class="container">
                <div class="row">
                    <div class="matn scchap">
                        <span>BIZNING JAMOA</span>
                        <h1>Sevimli, ishtiyoqli, ijobiy a'zolarimiz bilan tanishing.</h1>
                    </div>
                    <div class="box scchap">
                        <a target="_blank" class="scchap" href="">
                            <div class="img">
                                <img src="{% static 'img/akbarxon.jpg' %}" alt="dasturchi">
                            </div>
                        </a>
                        <div class="matn">
                            <h1>Muhamadiyev Akbarxon</h1>
                            <p>WEB FRONTEND dasturchi</p>
                        </div>
                        <div class="messengers">
                            <a target="_blank" href=""><i
                                    class="fab fa-telegram-plane"></i></a>
                            <a target="_blank" href=""> <i
                                    class="fab fa-facebook-f"></i></a>
                            <a target="_blank" href=""><i
                                    class="fas fa-envelope"></i></a>
                        </div>
                    </div>
                    <div class="box scpast">
                        <a target="_blank" class="scpast" href="">
                            <div class="img">
                                <img src="{% static 'img/photo_2021-11-18_14-42-12.jpg' %}" alt="dasturchi">
                            </div>
                        </a>
                        <div class="matn">
                            <h1>Mirvaliyev Anazbek</h1>
                            <p>WEB FRONTEND dasturchi</p>
                        </div>
                        <div class="messengers">
                            <a target="_blank" href=""><i
                                    class="fab fa-telegram-plane"></i></a>
                            <a target="_blank" href=""> <i
                                    class="fab fa-facebook-f"></i></a>
                            <a target="_blank" href=""><i
                                    class="fas fa-envelope"></i></a>
                        </div>
                    </div>
                    <div class="box scong">
                        <a target="_blank" class="scong" href="">
                            <div class="img">
                                <img src="{% static 'img/nurillo.jpg' %}" alt="dasturchi">
                            </div>
                        </a>
                        <div class="matn">
                            <h1>Mahmudjonov Nurillo</h1>
                            <p>BACKEND dasturchi</p>
                        </div>
                        <div class="messengers">
                            <a target="_blank" href=""><i
                                    class="fab fa-telegram-plane"></i></a>
                            <a target="_blank" href="https://www.facebook.com"> <i
                                    class="fab fa-facebook-f"></i></a>
                            <a target="_blank" href=""><i
                                    class="fas fa-envelope"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- loyihalar -->
    <section id="loyihalar">
        <div class="container">
            <div class="row">
                <div class="matn scchap">
                    <span>BIZNING LOYIHALAR</span>
                    <h1>OXIRGI LOYIHALAR</h1>
                </div>
                <div class="work_container">
                    <div class="works">
                        <div class="work scchap">
                            <a href="ishlar/login form1/index.html" target="_blank">Login Form <img
                                    src="{% static 'img_ish/last.png' %}" alt="img">
                                <div class="anim">
                                    <div class="matn">
                                        <h2>LOYIHA</h2>
                                    </div>
                                    <div class="more">
                                        <h2>KO'RISH <i class="fas fa-share"></i></h2>
                                    </div>
                                    <div class="icon">
                                        <div><i class="fas fa-share-alt"></i></div>
                                        <div>100 <i class="fas fa-eye"></i></div>
                                        <div>70 <i class="fas fa-thumbs-up"></i></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="work scong">
                            <a href="https://apexlo.netlify.app/#videolar" target="_blank">Apex <img
                                    src="{% static 'img_ish/apex.png' %}" alt="img">
                                <div class="anim">
                                    <div class="matn">
                                        <h2>LOYIHA</h2>
                                    </div>
                                    <div class="more">
                                        <h2>KO'RISH <i class="fas fa-share"></i></h2>
                                    </div>
                                    <div class="icon">
                                        <div><i class="fas fa-share-alt"></i></div>
                                        <div>100 <i class="fas fa-eye"></i></div>
                                        <div>70 <i class="fas fa-thumbs-up"></i></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="work scpast">
                            <a href="ishlar/js game/index.html" target="_blank">Game <img src="{% static 'img_ish/js.png' %}"
                                    alt="img">
                                <div class="anim">
                                    <div class="matn">
                                        <h2>LOYIHA</h2>

                                    </div>
                                    <div class="more">
                                        <h2>KO'RISH <i class="fas fa-share"></i></h2>
                                    </div>
                                    <div class="icon">
                                        <div><i class="fas fa-share-alt"></i></div>
                                        <div>100 <i class="fas fa-eye"></i></div>
                                        <div>70 <i class="fas fa-thumbs-up"></i></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="work works_4 scpast">
                            <a href="ishlar/folio/index.html" target="_blank">Folio <img src="{% static 'img_ish/folio.png' %}"
                                    alt="img">
                                <div class="anim">
                                    <div class="matn">
                                        <h2>LOYIHA</h2>

                                    </div>
                                    <div class="more">
                                        <h2>KO'RISH <i class="fas fa-share"></i></h2>
                                    </div>
                                    <div class="icon">
                                        <div><i class="fas fa-share-alt"></i></div>
                                        <div>100 <i class="fas fa-eye"></i></div>
                                        <div>70 <i class="fas fa-thumbs-up"></i></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="work none">
                            <a href="ishlar/music/index.html" target="_blank">Project 1 <img src="{% static 'img_ish/music.png' %}"
                                    alt="img">
                                <div class="anim">
                                    <div class="matn">
                                        <h2>LOYIHA</h2>

                                    </div>
                                    <div class="more">
                                        <h2>KO'RISH <i class="fas fa-share"></i></h2>
                                    </div>
                                    <div class="icon">
                                        <div><i class="fas fa-share-alt"></i></div>
                                        <div>100 <i class="fas fa-eye"></i></div>
                                        <div>70 <i class="fas fa-thumbs-up"></i></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="work none">
                            <a href="ishlar/2_7-dars/index.html" target="_blank">Project 2 <img src="{% static 'img_ish/img1.png' %}"
                                    alt="img">
                                <div class="anim">
                                    <div class="matn">
                                        <h2>LOYIHA</h2>

                                    </div>
                                    <div class="more">
                                        <h2>KO'RISH <i class="fas fa-share"></i></h2>
                                    </div>
                                    <div class="icon">
                                        <div><i class="fas fa-share-alt"></i></div>
                                        <div>100 <i class="fas fa-eye"></i></div>
                                        <div>70 <i class="fas fa-thumbs-up"></i></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="work none">
                            <a href="ishlar/2_10-dars/index.html" target="_blank">Project 3 <img src="{% static 'img_ish/img2.png' %}"
                                    alt="img">
                                <div class="anim">
                                    <div class="matn">
                                        <h2>LOYIHA</h2>

                                    </div>
                                    <div class="more">
                                        <h2>KO'RISH <i class="fas fa-share"></i></h2>
                                    </div>
                                    <div class="icon">
                                        <div><i class="fas fa-share-alt"></i></div>
                                        <div>100 <i class="fas fa-eye"></i></div>
                                        <div>70 <i class="fas fa-thumbs-up"></i></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="work none">
                            <a href="ishlar/lesson 10/index.html" target="_blank">Project 4 <img src="{% static 'img_ish/img3.png' %}"
                                    alt="img">
                                <div class="anim">
                                    <div class="matn">
                                        <h2>LOYIHA</h2>

                                    </div>
                                    <div class="more">
                                        <h2>KO'RISH <i class="fas fa-share"></i></h2>
                                    </div>
                                    <div class="icon">
                                        <div><i class="fas fa-share-alt"></i></div>
                                        <div>100 <i class="fas fa-eye"></i></div>
                                        <div>70 <i class="fas fa-thumbs-up"></i></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="work none">
                            <a href="ishlar/vazifa 2/index.html" target="_blank">Project 5 <img src="{% static 'img_ish/img5.png' %}"
                                    alt="img">
                                <div class="anim">
                                    <div class="matn">
                                        <h2>LOYIHA</h2>

                                    </div>
                                    <div class="more">
                                        <h2>KO'RISH <i class="fas fa-share"></i></h2>
                                    </div>
                                    <div class="icon">
                                        <div><i class="fas fa-share-alt"></i></div>
                                        <div>100 <i class="fas fa-eye"></i></div>
                                        <div>70 <i class="fas fa-thumbs-up"></i></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="work none">
                            <a href="ishlar/3d animatsiya 6/index.html" target="_blank">Project 6 <img
                                    src="{% static 'img_ish/img6.png' %}" alt="img">
                                <div class="anim">
                                    <div class="matn">
                                        <h2>LOYIHA</h2>

                                    </div>
                                    <div class="more">
                                        <h2>KO'RISH <i class="fas fa-share"></i></h2>
                                    </div>
                                    <div class="icon">
                                        <div><i class="fas fa-share-alt"></i></div>
                                        <div>100 <i class="fas fa-eye"></i></div>
                                        <div>70 <i class="fas fa-thumbs-up"></i></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="work none">
                            <a href="ishlar/3d animatsiya 3/index.html" target="_blank">Project 7 <img
                                    src="{% static 'img_ish/img7.png' %}" alt="img">
                                <div class="anim">
                                    <div class="matn">
                                        <h2>LOYIHA</h2>

                                    </div>
                                    <div class="more">
                                        <h2>KO'RISH <i class="fas fa-share"></i></h2>
                                    </div>
                                    <div class="icon">
                                        <div><i class="fas fa-share-alt"></i></div>
                                        <div>100 <i class="fas fa-eye"></i></div>
                                        <div>70 <i class="fas fa-thumbs-up"></i></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="work none">
                            <a href="ishlar/kankulator/index.html" target="_blank">Project 8 <img src="{% static 'img_ish/img8.png' %}"
                                    alt="img">
                                <div class="anim">
                                    <div class="matn">
                                        <h2>LOYIHA</h2>

                                    </div>
                                    <div class="more">
                                        <h2>KO'RISH <i class="fas fa-share"></i></h2>
                                    </div>
                                    <div class="icon">
                                        <div><i class="fas fa-share-alt"></i></div>
                                        <div>100 <i class="fas fa-eye"></i></div>
                                        <div>70 <i class="fas fa-thumbs-up"></i></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="work none">
                            <a href="ishlar/js/index.html" target="_blank">Project 9 <img src="{% static 'img_ish/js2.png' %}"
                                    alt="img">
                                <div class="anim">
                                    <div class="matn">
                                        <h2>LOYIHA</h2>

                                    </div>
                                    <div class="more">
                                        <h2>KO'RISH <i class="fas fa-share"></i></h2>
                                    </div>
                                    <div class="icon">
                                        <div><i class="fas fa-share-alt"></i></div>
                                        <div>100 <i class="fas fa-eye"></i></div>
                                        <div>70 <i class="fas fa-thumbs-up"></i></div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="work none">
                            <a href="ishlar/3d animatsiya 2/index.html" target="_blank">Project 10
                                <img src="{% static 'img_ish/img10.png' %}" alt="img">
                                <div class="anim">
                                    <h3>
                                        <div class="matn">
                                            <h2>LOYIHA</h2>

                                        </div>
                                        <div class="more">
                                            <h2>KO'RISH <i class="fas fa-share"></i></h2>
                                        </div>
                                        <div class="icon">
                                            <div><i class="fas fa-share-alt"></i></div>
                                            <div>100 <i class="fas fa-eye"></i></div>
                                            <div>70 <i class="fas fa-thumbs-up"></i></div>
                                        </div>
                                </div>
                            </a>
                        </div>
                        <div class="work none">
                            <a href="ishlar/lesson 9/index.html" target="_blank">Project 11
                                <img src="{% static 'img_ish/img11.png' %}" alt="img">
                                <div class="anim">
                                    <h3>
                                        <div class="matn">
                                            <h2>LOYIHA</h2>

                                        </div>
                                        <div class="more">
                                            <h2>KO'RISH <i class="fas fa-share"></i></h2>
                                        </div>
                                        <div class="icon">
                                            <div><i class="fas fa-share-alt"></i></div>
                                            <div>100 <i class="fas fa-eye"></i></div>
                                            <div>70 <i class="fas fa-thumbs-up"></i></div>
                                        </div>
                                </div>
                            </a>
                        </div>
                        <div class="work none">
                            <a href="ishlar/menubar/index.html" target="_blank">Project 12
                                <img src="{% static 'img_ish/menubar.png' %}" alt="img">
                                <div class="anim">
                                    <h3>
                                        <div class="matn">
                                            <h2>LOYIHA</h2>
                                        </div>
                                        <div class="more">
                                            <h2>KO'RISH <i class="fas fa-share"></i></h2>
                                        </div>
                                        <div class="icon">
                                            <div><i class="fas fa-share-alt"></i></div>
                                            <div>100 <i class="fas fa-eye"></i></div>
                                            <div>70 <i class="fas fa-thumbs-up"></i></div>
                                        </div>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="btn">
                    <button>KO'PROQ<i class="fas fa-redo"></i></button>
                </div>
            </div>
        </div>
    </section>

    <!-- xizmatlar -->
    <section id="xizmatlar">
        <div class="container1">
            <div class="container">
                <div class="row">
                    <div class="img-container scchap">
                        <img src="{% static 'img/laptop.webp' %}" alt="img">
                    </div>
                    <div class="matn scong">
                        <h1>xizmatlar</h1>
                        <p><b>Sizga quyidagi xizmatlarimizni taklif qilishimiz mumkin.</b><br><br>
                        <ol>
                            <li>Shaxsiy biznesini rivojlantirish maqsadida bo'lgan hamyurtlarimiz bilan maqsadli
                                shartnoma tuzish.</li>
                            <li>Masofaviy xizmatlar:
                                <ul style="padding-left: 20px;">
                                    <li>Web saytni buyurtma asosida tayyorlash.</li>
                                    <li>Web sayt dizaynini tayyorlash.</li>
                                    <li>Web sayt xatoliklarini bartaraf etish, tahrirlash.</li>
                                    <li>Mavjud web sayt taklifi.</li>
                                </ul>
                            </li>
                            <li>Dasturchilarni qulay sharoit va mo'may daromadli ish bilan ta'minlash.</li>
                            <li>Amaliyotchilarni malaka oshirishiga amaliy yordam berish.</li>
                        </ol>
                    </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container3">
            <div class="container">
                <div class="row">
                    <div class="animated sctepa">
                        <div class="for-box-crecl">
                            <i class="fa fa-home"></i>
                        </div>
                        <div class="clr1">
                            <h2>
                                WEB<br>DIZAYN
                            </h2>
                        </div>
                        <div class="wbox">
                            <strong>Ikkilanish!</strong>
                            <p>Sizda sayt uchun dizayn mavjud emasmi. Unda siz uchun ajoyib dizaynlarni taklif qilishimiz mumkin.</p>
                        </div>

                    </div>
                    <div class="animated scpast">
                        <div class="for-box-crecl">
                            <i class="fa fa-code"></i>
                        </div>
                        <div class="clr2">
                            <h2>
                                WEB-ISHLAB<br> CHIQARISH
                            </h2>
                        </div>
                        <div class="wbox">
                            <strong>Yagonalik!</strong>
                            <p>Siz shaxsiy saytingiz o'zgacha bo'lishini istaysizmi unda biz bilan bog'laning.</p>
                        </div>

                    </div>
                    <div class="animated sctepa">
                        <div class="for-box-crecl">
                            <i class="fa fa-rocket"></i>
                        </div>
                        <div class="clr3">
                            <h2>
                                TAYYOR<br>DIZAYN
                            </h2>
                        </div>
                        <div class="wbox">
                            <strong>Bu ajoyib!</strong>
                            <p>Sizga tezkor xizmat korsatish lozim bo'lsa siz uchun maxsus taklif oldindan mavjud saytni xarid qiling.</p>
                        </div>

                    </div>
                    <div class="animated scpast">
                        <div class="for-box-crecl">
                            <i class="fa fa-wifi"></i>
                        </div>
                        <div class="clr4">
                            <h2>
                                ONLAYN<br>MARKITING
                            </h2>
                        </div>
                        <div class="wbox">
                            <strong>Siz uchun!</strong>
                            <p>Siz o'z biznesingiz bilan bandmisiz ikkilanmang bizda siz uchun onlayn xizmatlar mavjud.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="container2">
            <div class="conatainer">
                <div class="row">
                    <div class="title scong">
                        <h2>BIZ Ajoyibmiz, QIZIQARLI FAKTLARNI TEKSHIRING</h2>
                    </div>
                    <div class="animated scpast">
                        <i class="fa fa-clock size"></i>
                        <h2 id="soat">522</h2>
                        <span>Ish soati</span>
                    </div>
                    <div class="animated sctepa">
                        <i class="fa fa-coffee size"></i>
                        <h2 id="qahva">888</h2>
                        <span>Qahva</span>
                    </div>
                    <div class="animated scpast">
                        <i class="fa fa-trophy size"></i>
                        <h2 id="mukofot">11</h2>
                        <span>Mukofotlari qo‘lga kiritildi</span>
                    </div>
                    <div class="animated sctepa">
                        <i class="fa fa-code size"></i>
                        <h2 id="kodlar">55566</h2>
                        <span>Yozilgan kodlar</span>
                    </div>
                    <div class="animated scpast">
                        <i class="fa fa-globe size"></i>
                        <h2 id="mijoz">133</h2>
                        <span>Mijozlar</span>
                    </div>
                    <div class="animated sctepa">
                        <i class="fa fa-rocket size"></i>
                        <h2 id="loyiha">77</h2>
                        <span>Loyihalar topshirildi</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- aloqa -->
    <section id="aloqa">
        <div class="container">
            <div class="row">
                <div class="matn scchap">
                    <span>ALOQADA BO'LING</span>
                    <h1>ALOQA</h1>
                </div>
                <div class="box">
                    <div class="box1">
                        <div class="box_c scchap">
                            <div>
                                <a target="_blank" href="mailto:muhamadiyevakbarxon66@gmail.com"><i
                                        class="fas fa-globe-europe"></i></a>
                            </div>
                            <div>
                                <h1>
                                    <a target="_blank"
                                        href="mailto:muhamadiyevakbarxon66@gmail.com">muhamadiyevakbarxon66@gmail.com</a>
                                </h1>
                            </div>
                        </div>
                        <div class="box_c scchap">
                            <div>
                                <a target="_blank"
                                    href="https://www.google.com/maps/place/Kosonsoy+tumani/@41.1539601,71.3919844,11z/data=!3m1!4b1!4m5!3m4!1s0x38a4c9af4116f7f3:0xe5f8f9ce4db31222!8m2!3d41.2393445!4d71.5249154"><i
                                        class="fas fa-map-marked-alt"></i></a>
                            </div>
                            <div>
                                <h1>
                                    <a target="_blank"
                                        href="https://www.google.com/maps/place/Kosonsoy+tumani/@41.1539601,71.3919844,11z/data=!3m1!4b1!4m5!3m4!1s0x38a4c9af4116f7f3:0xe5f8f9ce4db31222!8m2!3d41.2393445!4d71.5249154">O'zbekiston
                                        respublikasi, Namangan viloyati,<br>Namangan shahar</a>
                                </h1>
                            </div>
                        </div>
                        <div class="box_c scchap">
                            <div>
                                <a target="_blank" href="mailto:muhamadiyevakbarxon66@gmail.com"><i
                                        class="fas fa-phone"></i></a>
                            </div>
                            <div>
                                <h1>
                                    <a target="_blank" href="mailto:muhamadiyevakbarxon66@gmail.com">+998 90 554 84
                                        82</a>
                                </h1>
                            </div>
                        </div>
                    </div>
                    <div class="box2">
                        <form action="{% url 'app:Home' %}" method="post">
                            {% csrf_token %}
                            {{form.name}}
                            {{form.email}}
                            {{form.subject}}
                            {{form.message}}
                            <input class="scong" type="submit" value="XABARNI YUBORISH">
                        </form>
                    </div>
                </div>
            </div>
        </div><iframe class="scong"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3011.114608866415!2d71.64566961467504!3d41.000864627831064!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38bb4be9680597b5%3A0x8e0f4f17b1a76f1c!2sR-112%2C%20Namangan%2C%20O%60zbekiston!5e0!3m2!1suz!2s!4v1637915161469!5m2!1suz!2s"
            width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </section>

    <!-- footer -->
    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="logo scchap">
                    <div class="group">
                        <img src="{% static 'logo/akan.png' %}" alt="logo">
                    </div>
                    <div>
                        <a href="" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a href="" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                        <a href="" target="_blank"><i class="fab fa-telegram-plane"></i></a>
                    </div>
                </div>
                <div class="addres">
                    <h2>MANZIL</h2>
                    <p>
                        O'zbekiston respublikasi, Namangan viloyati<br>
                        Du-SHa (8:00-18:00) (+998 90) 554-84-82<br>(+998 99) 396-20-76
                    </p>
                </div>
                <div class="email">
                    <a href="mailto:muhamadiyevakbarxon66@gmail.com"
                        target="_blank">muhamadiyevakbarxon66@gmail.com</a><br>
                    <a href="mailto:mirvaliyev2000@gmail.com" target="_blank">mirvaliyev2000@gmail.com</a>
                </div>
                <div class="footer">
                    <p>©AKAN 2021</p>
                </div>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/scrollreveal"></script>

    <script src="{% static 'js/script.js' %}"></script>

</body>

</html>